/* App.css */
.CustomNavbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .centered-content {
    text-align: center;
    margin-top: 20px; /* Adjust the margin as needed */
  }
  